In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set_style('whitegrid')

In [2]:
dataset = pd.read_csv('dummy.csv')

In [3]:
dataset

     SAT   GPA Attendance
0   1714  2.40         No
1   1664  2.52         No
2   1760  2.54         No
3   1685  2.74         No
4   1693  2.83         No
..   ...   ...        ...
79  1936  3.71        Yes
80  1810  3.71        Yes
81  1987  3.73         No
82  1962  3.76        Yes
83  2050  3.81        Yes

[84 rows x 3 columns]

In [4]:
dataset['Attendance'] = dataset['Attendance'].map({'yes':1'No':0})

SyntaxError: invalid syntax (Temp/ipykernel_14808/3050874849.py, line 1)

In [ ]:
dataset['Attendance'] = dataset['Attendance'].map({'Yes':1,'No':0})

In [ ]:
dataset

In [ ]:
x = dataset[['SAT','Attendance']]

In [ ]:
x

In [ ]:
y = dataset['GPA']

In [ ]:
y

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(x,y)

In [ ]:
test = pd.DataFrame([[1600,1],[1600,0]],columns=['SAT','Attendance'])

In [ ]:
test

In [ ]:
model.predict(test)

In [ ]:
#bo
model.intercept_

In [ ]:
#b1,b2
model.coef_

In [ ]:
plt.scatter(dataset['SAT'],dataset['GPA'])
plt.xlabel('SAT')
plt.ylabel('GPA')
plt.show()

In [ ]:
y_hat_yes = 0.6438+0.0013*dataset['SAT']+ 0.2226*1
y_hat_no = 0.6438+0.0013*dataset['SAT']+ 0.2226*0

In [ ]:
plt.scatter(dataset['SAT'],dataset['GPA'])
plt.plot(dataset['SAT'],y_hat_yes,color='green')
plt.xlabel('SAT')
plt.ylabel('GPA')
plt.show()

In [ ]:
plt.scatter(dataset['SAT'],dataset['GPA'])
plt.plot(dataset['SAT'],y_hat_no,color='red')
plt.xlabel('SAT')
plt.ylabel('GPA')
plt.show()

In [ ]:
plt.scatter(dataset['SAT'],dataset['GPA'])
plt.plot(dataset['SAT'],y_hat_yes,color='green')
plt.plot(dataset['SAT'],y_hat_no,color='red')
plt.xlabel('SAT')
plt.ylabel('GPA')
plt.show()