In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
dataset = pd.read_csv('sat (1).csv')

In [3]:
dataset

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [12]:
X = dataset.iloc[:,[0]].values

In [13]:
X

array([[1714],
       [1664],
       [1760],
       [1685],
       [1693],
       [1670],
       [1764],
       [1764],
       [1792],
       [1850],
       [1735],
       [1775],
       [1735],
       [1712],
       [1773],
       [1872],
       [1755],
       [1674],
       [1842],
       [1786],
       [1761],
       [1722],
       [1663],
       [1687],
       [1974],
       [1826],
       [1787],
       [1821],
       [2020],
       [1794],
       [1769],
       [1934],
       [1775],
       [1855],
       [1880],
       [1849],
       [1808],
       [1954],
       [1777],
       [1831],
       [1865],
       [1850],
       [1966],
       [1702],
       [1990],
       [1925],
       [1824],
       [1956],
       [1857],
       [1979],
       [1802],
       [1855],
       [1907],
       [1634],
       [1879],
       [1887],
       [1730],
       [1953],
       [1781],
       [1891],
       [1964],
       [1808],
       [1893],
       [2041],
       [1893],
       [1832],
       [1850],
       [1934],
       [1861],
       [1931],
       [1933],
       [1778],
       [1975],
       [1934],
       [2021],
       [2015],
       [1997],
       [2020],
       [1843],
       [1936],
       [1810],
       [1987],
       [1962],
       [2050]], dtype=int64)

In [14]:
y = dataset.iloc[:,[1]].values

In [11]:
y

array([[2.4 ],
       [2.52],
       [2.54],
       [2.74],
       [2.83],
       [2.91],
       [3.  ],
       [3.  ],
       [3.01],
       [3.01],
       [3.02],
       [3.07],
       [3.08],
       [3.08],
       [3.12],
       [3.17],
       [3.17],
       [3.17],
       [3.17],
       [3.19],
       [3.19],
       [3.19],
       [3.2 ],
       [3.21],
       [3.24],
       [3.28],
       [3.28],
       [3.28],
       [3.28],
       [3.28],
       [3.28],
       [3.28],
       [3.29],
       [3.29],
       [3.29],
       [3.31],
       [3.32],
       [3.34],
       [3.37],
       [3.37],
       [3.37],
       [3.38],
       [3.38],
       [3.39],
       [3.39],
       [3.4 ],
       [3.4 ],
       [3.4 ],
       [3.41],
       [3.41],
       [3.41],
       [3.42],
       [3.42],
       [3.42],
       [3.44],
       [3.47],
       [3.47],
       [3.47],
       [3.47],
       [3.48],
       [3.49],
       [3.49],
       [3.5 ],
       [3.51],
       [3.51],
       [3.52],
       [3.52],
       [3.54],
       [3.58],
       [3.58],
       [3.59],
       [3.59],
       [3.6 ],
       [3.6 ],
       [3.61],
       [3.62],
       [3.64],
       [3.65],
       [3.71],
       [3.71],
       [3.71],
       [3.73],
       [3.76],
       [3.81]])

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [24]:
algos = [
    ('LR',LinearRegression()),
    ('R',Ridge()),
    ('L',Lasso()),
    ('DT',DecisionTreeRegressor()),
    ('RF',RandomForestRegressor(n_estimators=10)),
    ('GB',GradientBoostingRegressor(n_estimators=10)),
    ('SVM',SVR(kernel='rbf')),
    ('KNN',KNeighborsRegressor(n_neighbors=10))
]

In [25]:
len(algos)

8

In [26]:
for name,model in algos:
    model.fit(X,y)
    score = model.score(X,y)
    print(name , score )

LR 0.40600391479679765
R 0.40600391479630404
L 0.4047333383650047
DT 0.9486994843352543
RF 0.783576614974471
GB 0.5356393381029669
SVM 0.46288903062752007
KNN 0.4573688499921845

C:\Users\kharc\AppData\Local\Temp/ipykernel_6732/3730066032.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X,y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)