In [5]:
#MEMBERSHIP OPRATOR 
#THERE ARE TWO TYPES OF MEMBERSHIP OPERATOR IN AND NOT IN
st1 = "hello sita how are you"
print("are" in st1)

True

In [8]:
st2 = ("hello sweetheart")
print("sweet" in st2)

True

In [10]:
#NOT IN MEMBERSHIP OPRATOR

In [11]:
st1 = ("hii honey")
print("to" not in st1)

True

In [13]:
st1 = ("hii google")
print("happy" not in st1)

True

In [14]:
st1 = ("hii goggle")
print("hii" not in st1)

False

In [9]:
#ARRAY 
# DECLARE BY TWO METHODS IMPOR ARRAY AND FROM ARRAY IMPORT*
import array
stu_roll = array.array('i',[101,102,103,104,105])
print(stu_roll[0])
print(stu_roll[1])
print(stu_roll[2])
print(stu_roll[3])
print(stu_roll[4])

101
102
103
104
105

In [79]:
#example 2

In [80]:
import array as ar
stu_roll = ar.array('i',[101,102,103,104,105])
print(stu_roll[0])
print(stu_roll[1])
print(stu_roll[2])
print(stu_roll[3])
print(stu_roll[4])

101
102
103
104
105

In [81]:
#exaple using form arrray import

In [82]:
from array import*
stu_roll = array('i',[101,102,103,104,105])
print(stu_roll[0])
print(stu_roll[1])
print(stu_roll[2])
print(stu_roll[3])
print(stu_roll[4])

101
102
103
104
105

In [83]:
from array import*
stu_roll = array('i',[101,102,103,104,105])
print(stu_roll[3])
print(stu_roll[4])

104
105

In [84]:
#we can write float value also means type code f #example 3

In [85]:
import array
stu_roll = array.array('f',[101.3,1.02,1.03,1.04,1.05])
print(stu_roll[0])
print(stu_roll[1])
print(stu_roll[2])
print(stu_roll[3])
print(stu_roll[4])

101.30000305175781
1.0199999809265137
1.0299999713897705
1.0399999618530273
1.0499999523162842

In [86]:
from array import*
stu_roll = array('f',[101,102,103,104,105])
print(stu_roll[3])
print(stu_roll[4])

104.0
105.0

In [87]:
#Accesing array using for loop
#without index number

In [88]:
from array import*
stu_roll = array('i', [101,102,103,304,105])
for ele in stu_roll:
    print(ele)

101
102
103
304
105

In [89]:
#Accesing array using for loop
#with index number here range is 5 n is shows the nos
from array import*
stu_roll = array('i',[101,102,103,304,105])

n = len(stu_roll)

for i in range(n):
    print(stu_roll[i])

101
102
103
304
105

In [90]:
#if want to see the numbers with index
from array import*
stu_roll = array('i',[101,102,103,104,105,])
n = len(stu_roll)
for i in range(n):
    print(i, "=", stu_roll[i])

0 = 101
1 = 102
2 = 103
3 = 104
4 = 105

In [91]:
from array import*
stu_roll = array('i', [101,102,103,104,105])

n = len(stu_roll)
i = 0
while (i<n):
    print(stu_roll[i])
    i+=1

101
102
103
104
105

In [1]:
#printing list using while lopp

In [6]:
a = [0,1,2,3,4,5]
b = ['da','gh','j','kj']
i = 0
while i<4:
    print(a[i],b[i])
    i = i +1

0 da
1 gh
2 j
3 kj

In [7]:
a = [0,1,2,3,4,5]   #to add new ele
a.append(8)
a

[0, 1, 2, 3, 4, 5, 8]

In [10]:
p = [1,2,3,'ag','ojii']
p.append('sunoji')
p

[1, 2, 3, 'ag', 'ojii', 'sunoji']

In [11]:
#repetation

In [13]:
l1 = [1,2,3,4]
print(l1*4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [15]:
a = [4,5,6,7]
print(a*3)

[4, 5, 6, 7, 4, 5, 6, 7, 4, 5, 6, 7]

In [20]:
#multiplying with lenth
l1 = [1,2,3,4]
print('lenth:',len(l1))
print(len(l1*0),len(l1*2),len(l1*4))

lenth: 4
0 8 16

In [22]:
a1 = [1,1,1,1]
print('lenth:',len(a1))
print(len(a1*0),len(a1*4))

lenth: 4
0 16

In [24]:
a = ['apple','mango','orange'] #to find or check element
print('apple' in a)

True

In [25]:
a = [1,2,'mango']
print('mango' in a)

True

In [33]:
#BREAK STATEMENT
a = [1,2,3,4,5]
for i in a:
    if i == 4:
        break
    print(i)

1
2
3

In [35]:
#continue statement

In [36]:
a = [1,2,3,5,66,45,88,123]
def first_greater(first):
    for i in first:
        if i < 36:
            continue
        return i
print(first_greater(a))

66

In [37]:
#importing libraries

In [38]:
import math
print(math.sin(1))

0.8414709848078965

In [39]:
import math
print(math.tan(1))

1.5574077246549023

In [40]:
###printing time###

In [43]:
from datetime import date
today = date.today()
print("Today's date:",today)

Today's date: 2023-06-21

In [49]:
import datetime
t= datetime.time(11,2,4)     ## hr ,min,sec
print('hour:',t.hour)
print('minute:',t.minute)
print('seconds:',t.second)

hour: 11
minute: 2
seconds: 4

In [53]:
import datetime
t = datetime.time(2,4)
print('hour:',t.hour)
print('seconds:',t.minute)

hour: 2
seconds: 4

In [55]:
## PRINTING DATE ###

In [57]:
import datetime
d = datetime.date(2021,7,21) #year, month,day
print('year:',d.year)
print('month:',d.month)
print('day:',d.day)

year: 2021
month: 7
day: 21

In [58]:
## printing current time ##

In [59]:
import datetime
t = datetime.datetime.now()
print('hour:',t.hour)
print('minute:',t.minute)
print('second:',t.second)
print('microsecond:',t.microsecond)

hour: 15
minute: 29
second: 12
microsecond: 86835

In [61]:
## TO PRINT CUURENT DATE
import datetime
d = datetime.datetime.now()
print('year:',d.year)
print('month:',d.month)
print('day:',d.day)

year: 2023
month: 6
day: 21

In [62]:
## SUB MODELS

In [64]:
from datetime import date
print(date.today())

2023-06-21

In [65]:
## printing diffrence between dates
from datetime import date 
a = date(2016,2,24)
b = date(2022,3,22)
print('diff.between date and time:',a-b)

diff.between date and time: -2218 days, 0:00:00

In [71]:
## printing diffrence between date and time
from datetime import datetime
a = datetime(2016,2,24, 12,23,5)
b = datetime(2019,2,24, 10,25,5)
print('diff.between date and time:',a-b)

diff.between date and time: -1096 days, 1:58:00

In [72]:
# Square root

In [73]:
import math
print(math.sqrt(4))

2.0

In [74]:
import math 
print(math.log(100))

4.605170185988092

In [76]:
import math 
print(math.exp(1))

2.718281828459045

In [77]:
import math 
print(math.log(10))

2.302585092994046

In [78]:
#Tuples

In [79]:
# its a combinatin of numbers and string
a = (1,2,'apple','orange') #lenth
print(len(a))

4

In [80]:
a = (1,2,3,4)
print(a)

(1, 2, 3, 4)

In [83]:
a = (1,2,'apple','orange') #accesing elements by index no 
print(a[3],a[1])

orange 2

In [87]:
a = (1,2,3,'apple','orange') #accesing multiple elements
print(a[0:4])

(1, 2, 3, 'apple')

In [88]:
a = (1,2,3,4,5)  #min max
print('maximum No:',max(a))
print('minimum No:',min(a))

maximum No: 5
minimum No: 1

In [90]:
a = (1,2,3,4,5) ##indexing
print(a.index(5))

4

In [94]:
a = (1,2,3,4,5,6,7,8,9,12,2334,44,33,22,67,78,77)
print(a.count(77)) #counting #doubt

1

In [95]:
#relationship between tuple and list
#converting list into tuplee
p = [1,2,3,4,5]
print('list:',p)
q = tuple(p)
print('tuple:',q)

list: [1, 2, 3, 4, 5]
tuple: (1, 2, 3, 4, 5)

In [97]:
#converting tuple into list
a = (1,2,3,4,5)
print('tuple',p)
q = list(p)
print('list',q)

tuple [1, 2, 3, 4, 5]
list [1, 2, 3, 4, 5]

In [98]:
#reverse opration on string

s = 'Data science is trending these days'  #spliting
print(s.split())

['Data', 'science', 'is', 'trending', 'these', 'days']

In [99]:
a = 'data sciene is cool' #reverse
print(a.split()[::-1])

['cool', 'is', 'sciene', 'data']

In [101]:
a = 'data science is cool'
print(' '.join(a.split()[::1]))

data science is cool

In [102]:
a = 'data science is cool'
print(' '.join(a.split()[::-1]))

cool is science data

In [103]:
#global is a keyword
i = 10
def p():
    print(i)
    
def incre():
    i = 11
    print(i)
p()
incre()
p()

10
11
10