In [ ]:

print(100+100)

In [ ]:
# variable assign and execution
i = 10
print(i)

# Add,div,multi,div

In [3]:
a = 10
b = 20
c = a + b
print('Addition of a and b is :-',c)

Addition of a and b is :- 30

In [ ]:
a = 10
b = 20
c = a - b
print('substraction of a and b is :-',c)

In [ ]:
a = 10
b = 20
c = a + b
print('Addition of a and b is :-',c)
d = a - b
print("sub is",d)
e  = a * b
print("multi is ",e)
f = a / b
print("div is ",f)

# Strings

In [4]:
a = 'hello '
b = 'world'
c = a + b
print(c)

hello world

In [5]:
#concatination
a = 'hello '
b = 'world'
c = a + b
d = 'welcomes'# adding new string
print(c,d)

hello world welcomes

In [6]:
s = 'hello Am linux'
cap = s.capitalize()
print(cap)

upper = s.upper()
print(upper)

lower = s.lower()
print(lower)

title = s.title()
print(title)

Hello am linux
HELLO AM LINUX
hello am linux
Hello Am Linux

# checking strings

In [ ]:
s = 'hello am ISRO'
print('Is upper?',s.isupper())

In [ ]:
s = 'hello am isro'
print('Is lower?',s.islower())

In [ ]:
s = 'hello am ISRO'
print('Is Titlecase?',s.istitle())

In [ ]:
s = 'nik'
print('Is alphabetical?',s.isalpha())

In [ ]:
s = '154668'
print('Is nubers?',s.isalnum())

In [ ]:
s = '123'
print('Is digit?',s.isdigit())

# Split function

In [ ]:
s = "welcome to data science" #spliting by using space
q = s.split(' ')
print(q)

In [ ]:
s = "welcome to data science" #spliting by particular letter or word
q = s.split('t')
print(q)

In [ ]:
s = "welcome to Data sciEnce" #spliting by
q = s.split('E')               #case sensitive data
print(q)

# Find function

In [ ]:
s = "welcome to data science" #it gives a position of word 
q = s.find('data')
print(q)

In [ ]:
s = "welcome to data science" #
q = s.find('9871562254')
print(q)

# Printing Tricks

In [ ]:
print('apple')

In [ ]:
print('apple,orange,kiwi')

In [ ]:
print('apple\norange\nkiwi') # \n stands for newline

In [ ]:
print('apple\torange\tkiwi')  #\t it gives tabular space

In [ ]:
print('\'apple\'')
print("\"apple\"")

In [ ]:
print('\\apple\\')

In [ ]:
print('apple')

# join function

In [12]:
a = ['as','bd'] #seprating by ','
b = ','
print(b.join(a))

as,bd

In [ ]:
a = ['as','bd'] # seprating by '--'
b = '--'print(b.join(a))

In [ ]:
a = ['as','bd'] #seprating by '\n'
b = '\n'
print(b.join(a))

In [ ]:
a = ['as','bd'] #seprating by '\t'
b = '\t'
print(b.join(a))

In [ ]:
a = ['as','bd'] #seprating by '\n' #another way
print('\n'.join(a))

In [ ]:
a = ['as','bd'] #seprating by '\t' # another way
print('\t'.join(a))

# Format string

In [ ]:
print('{0} {1}'.format('one', 'two'))

In [ ]:
print('{1} {0}'.format('one', 'two')) # sequencing

In [ ]:
print('{1} {1} {1} {1}'.format('one', 'two')) # reusing  + sequencing

In [7]:
print('{1} {0} {0} {1}'.format('one', 'two'))

two one one two

In [ ]:
print('{:>10}'.format('test'))# add space after string

In [ ]:
print('{:<10}'.format('test'))# add space after string

In [ ]:
print('{:_<10}'.format('test'))# add '_' after string

In [ ]:
print('{:.<10}'.format('test'))# add "." after string

In [ ]:
print('{:.>10}'.format('test'))# add '.' before string

In [ ]:
print('{:a>20}'.format('test'))# add 'a' after string

In [ ]:
print('{:h>10}'.format('test'))# add 'h' after string

In [ ]:
print('{:.^7}'.format('zip'))# align string to center

# conditional statement
# if else

In [ ]:
a = 10
b = 20
if a > b:
    print(a)
else:
    print(b)

In [ ]:
a = 10
b = 20
if a > b:
    print(a)
    print('a is greater than b:-')
else:
    print(b)
    print('a is less than b:-')

In [ ]:
a = 10
b = 20
if a > b:
    print('a is greater than b:-',a)
else:
    print('a is less than b:-',b)

# if else nested

In [11]:
a = 100
b = 200
c = 500
if a > b:
    if a > c:
        print('a is greater')
    else:
            print('c is greaater1')
elif b > c:
    print('b is greater')
else:
        print('c is greater2',c)

c is greater2 500

# Functions

In [9]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

p = 10
q = 5

r = add(p, q)
print(r)

s = sub(p,q)
print(s)

15
5

In [10]:
def add(a, b):
    return a + b

def sub(a, b):
   c

p = 10
q = 5

r = add(p, q)
print('Addition:',r)

s = sub(p,q)
print('Substraction:',s)

Addition: 15
Substraction: 5

In [ ]:
def add(a, b):
    r  = a + b
    return r

def sub(a, b):
    s = a - b
    return s

p = 10
q = 5

r = add(p, q)
print('Addition:',r)

s = sub(p,q)
print('Substraction:',s)

In [ ]:
def add(a, b):
    r  = a + b
    return r

def sub(a, b):
    s = a - b
    return s

p = 10
q = 5

r = add(p, q)
print('Addition:',r)

s = sub(p,q)
print('Substraction:',s)

In [ ]:
def avengers_bio(Name, Age):
    print('Name:',Name, 'Age:',Age)
    
n1 = 'thor'
a1 = 1000
n2 = 'captain'
a2 = 100

avengers_bio(n1,a1)
avengers_bio(n2,a2)

In [ ]:
def avengers_bio(Name, Age, city): 
    print('Name:',Name, 'Age:',Age, 'city:',city)
    
n1 = 'thor'
a1 = 1000
c1 = 'Asgaurd' 
n2 = 'captain'
a2 = 100
c2 = 'Russia'

avengers_bio(n1,a1,c1)
avengers_bio(n2,a2,c2)

In [ ]:
def avengers_bio(N, A, c):
    print('Name:',N, 'Age:',A, 'city:',c)
    
n1 = 'thor'
a1 = 1000
c1 = 'Asgaurd'
n2 = 'captain'
a2 = 100
c2 = 'Russia'

avengers_bio(n1,a1,c1)
avengers_bio(n2,a2,c2)

# Conditional statements with Functions

In [ ]:
def print_greatest(x, y, z):
    if x > z:
        if x > y:
             print('x is greatest')
        else:
            print('z is greatest1')
    elif y > z:
        print('y is greatest')
    else:
        print('z is greatest2',)
        
x = 10
y = 20
z = 50

print_greatest(x, y, z)

In [ ]:
def print_greatest(x, y, z):
    greatest = -1;
    if x > z:
        if x > y:
             greatest = x
        else:
             greatest = z
    elif y > z:
         greatest = y
    else:
        greatest = z
        print(greatest,'is greatest')    
        
x = 10
y = 20
z = 50

print_greatest(x, y, z)

In [ ]:
def get_greatest(x, y, z):
    greatest = -1;
    if x > z:
        if x > y:
             greatest = x
        else:
             greatest = z
    elif y > z:
         greatest = y
    else:
        greatest = z
        return greatest
        
x = 10
y = 20
z = 50

g = get_greatest(x, y, z)
print(g,'is greatest')

# While loop

In [ ]:
i = 0
while i < 10:
    print(i)
    i = i + 1
    
print('Done')

In [ ]:
i = 0
while i < 10:
    print('i = ',i)
    i = i + 1
    
print('Done')

In [ ]:
# print fibonacii number
#1,1,2,3,5....n
def print_fibo(n):
    n1 = 1
    n2 = 1
    i = 0
    while i < n:
        print(n1)
        i = i + 1
        temp = n2
        n2 = n1 + n2
        n1 = temp
        
print_fibo(8)

In [24]:
# checks if list still
# contains any element
a = [1, 2, 3, 4]

while a:
	print(a.pop())

4
3
2
1

# List data structure

In [ ]:
p = [1,2,3,4,5,6]
p

In [ ]:
q = [] #empty list
q

In [ ]:
p = [1,2,3,4,5,6] # for accesing the elemenet in list
p[2]

In [ ]:
p = [1,2,3,4,5,6]# it prints range of element that you specify.
p[0:5]

In [ ]:
a = [1,2,3,4,'sam','raj'] # hetrogenious list
a

# List of string

In [ ]:
a = ['ab','cd','ef','gh']
print('list of string:',a)

In [ ]:
a = ['ab','cd','ef','gh'] # to add element in list
a.append('xz')
a

In [20]:
a = ['ab','cd','ef','gh','xz']
len(a)

5

In [18]:
a = ['ab','cd','ef','gh']
print('accessing last element of list:',a[3])

accessing last element of list: gh

In [19]:
a = ['ab','cd','ef','gh']
print('accessing last element of list:',a[-1])

accessing last element of list: gh

In [ ]:
a = ['ab','cd','ef','gh']
print('accessing second last element of list:',a[2],a[-2])

# Printing list of string with while loop

In [ ]:
a = ['ab','cd','ef','gh']
b = [1,2,3,4]
i = 0
while i < 4:
    print(a[i],b[i])
    i = i+1

In [1]:
p = [1,2,3,4,5,'raj','sam'] # to add element
p.append(6)
p

[1, 2, 3, 4, 5, 'raj', 'sam', 6]

In [ ]:
p = [1,2,3,4,5,'raj','sam']
p.append('nik')
p

In [ ]:
p = [1,2,3,4,5,'raj','sam'] # to remove element
p.remove(5)
p

In [ ]:
p = [1,2,3,4,5,'raj','sam']
p.remove('sam')
p

In [ ]:
p = [1,2,3,4,5,'raj','sam'] # to replace element
p[5] = 'nik'
p

In [ ]:
p = [1,2,3,4,5,'raj','sam'] # we can replace it with no also
p[5] = 6
p

# Concatenation

In [ ]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
print(l1+l2)

In [ ]:
l1 = [1,2,3,4] # another way
l2 = [5,6,7,8]
l = l1 + l2
print(l)

In [ ]:
l1 = [1,2,3,4] # add multiple list
l2 = [5,6,7,8]
l3 = [9,10]
l = l1 + l2 +l3
print(l)

In [ ]:
l1 = [1,2,3,4]   # empty list
l2 = []
print(l1+l2)

In [ ]:
l1 = [1,2,3,4] # concatenate with list only
l2 = [1]
print(l1+l2)

# Repeatation

In [2]:
l1 = [1,2,3,4]
print(l1*4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
l1 = [1,2,3,4]
print(l1*1)

In [ ]:
l1 = [1,2,3,4]
print(l1*0)    # it give you  null string

In [ ]:
# multiplying with lenth
l1 = [1,2,3,4]
print('lenth: ',len(l1))
print(len(l1*0), len(l1*2), len(l1*3))

In [ ]:
a = ['apple','banana','oranges','mango'] # to find or check element
print('apple' in a)

In [ ]:
a = ['apple','banana','oranges','mango'] # case sensetive
print('Apple' in a)

In [ ]:
a = ['apple','banana','oranges','mango']
if 'mango' in a:
    print(True)
else:
    print(False)

# Bubble sort

In [ ]:
l = [2,5,7,8,9,5,44,7,8]
i = 0
print('lenth of l:',len(l))
print('before:',l)
while i < len(l):
    j = 0
    while j < i:
        if l[i] < l[j]:
            
            temp = l[i]
            l[i] = l[j]
            l[j] = temp
        j = j + 1
    i = i + 1
print('after',l)

# For loop

In [10]:
a = [1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

In [ ]:
b = ['apple','mango','banana','oranges']
for i in b:
    print(i)

# sum of elements in list

In [ ]:
a = [1,2,3,4]
s = 0
for i in a:
    s = s + i
print(s)

# concatenation of list using for loop

In [21]:
b = ['Hi','Am','Not','Robot']
c = ''
for i in b:
    c = c + i
print(c)

HiAmNotRobot

# Range() method

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
for i in range(0,len(a)):
      print(i,a[i])

# Break statement

In [3]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:
    if i == 6:
        break
    print(i)

1
2
3
4
5

# Continue statement

In [ ]:
a = [1,2,3,5,66,45,88,123]
def first_greater(first):
    for i in first:
        if i < 36:
            continue
        return i
print(first_greater(a))

 # For loop Nesting

In [1]:
a = [1,2,3,4]
b = ['apple','mango','grapes','banana']
for i in a:
    for j in b:
        print(i,j)

1 apple
1 mango
1 grapes
1 banana
2 apple
2 mango
2 grapes
2 banana
3 apple
3 mango
3 grapes
3 banana
4 apple
4 mango
4 grapes
4 banana

# Dictionary

In [2]:
#Dictionary contains key value pair
#key value pair called item
#it contains no sequence itmes
a = {'apple':2,'banana':4,'mango':7,'orange':9}
print(a['apple'])
print(a['orange'])
print(a)

2
9
{'apple': 2, 'banana': 4, 'mango': 7, 'orange': 9}

In [1]:
#Printing keys in dictionary
a = {'apple':2,'banana':4,'mango':7,'orange':9}
for i in a:
    print(i)

apple
banana
mango
orange

In [ ]:
#Printing keys and values both with items()method
a = {'apple':2,'banana':4,'mango':7,'orange':9}
for i,j in a.items():
    print(i,j)

# Importing liabraries

In [ ]:
import math
print(math.sin(1))

In [ ]:
import math
print(math.cos(1))

In [22]:
#printing time
import datetime
t = datetime.time(11,25,8)# hr,min,sec
print('Hour:',t.hour)
print('Minute:',t.minute)
print('seconds:',t.second)

Hour: 11
Minute: 25
seconds: 8

In [ ]:
#printing date
import datetime
d = datetime.date(2020,7,21)#year,month,day
print('year:',d.year)
print('month:',d.month)
print('day:',d.day)

In [ ]:
#printing current time
import datetime
t = datetime.datetime.now()# hr,min,sec
print('Hour:',t.hour)
print('Minute:',t.minute)
print('seconds:',t.second)
print('microsecond:',t.microsecond)

In [9]:
#printing  current date
import datetime
d = datetime.datetime.now()#year,month,day
print('year:',d.year)
print('month:',d.month)
print('day:',d.day)

year: 2023
month: 6
day: 14

In [ ]:
#sub-modules
from datetime import date
print(date.today())

In [ ]:
#Printing difference between dates
from datetime import date
a = date(2021,7,24)
b = date(2019,7,21)

print('Difference of date:',a-b)

In [8]:
#printing difference between date and time
from datetime import datetime

a = datetime(2021,7,24, 12,30,5)
b = datetime(2021,7,21, 12,25,4)

print('Diff. between date and time:',a-b)

Diff. between date and time: 3 days, 0:05:01

# Recursion

In [23]:
#printing factorial of n numbers
# 4*3*2*1
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(4))

24

In [ ]:
#printing sum of square of numbers
def sum_square(n):
    if n == 1:
        return 1
    else:
        return n*n + sum_square(n-1)
    
print(sum_square(4))    #16+9+4+1

# Keywords

In [ ]:
import keyword
print(keyword.kwlist)
print('total keywords:',len(keyword.kwlist))

In [ ]:
import sys
print(sys.version_info)

# Logical oprators

# And

In [ ]:
print(1<5 and 2<5)
print(1>5 and 1<5)

# Or

In [26]:
print(1<5 or 2<5)
print(1>5 or 1>5)

True
False

# Not

In [ ]:
print(not 1<5)
print(not 1>5)

# Relational oprators

In [7]:
# == equals to
print(1==2)
print(1==1)

False
True

In [ ]:
# != not equals to
print(1!=2)
print(1!=1)

In [ ]:
# < less than
print(1<2)
print(1<1)

In [ ]:
# > greater than
print(1>2)
print(1>1)

In [ ]:
# <= less than equals to
print(1<=2)
print(1<=1)

In [ ]:
# >= greater than equals to
print(1>=2)
print(1>=1)

# Square root

In [ ]:
import math
print(math.sqrt(4))

In [27]:
#pythagoras theorm
# c*c = a*a + b*b
import math
a = 3
b = 4
print(math.sqrt(a*a + b*b))

5.0

In [ ]:
import math
print(math.exp(2))

In [ ]:
import math
print(math.exp(1))

In [ ]:
import math
print(math.log(100))

In [ ]:
import math
print(math.log(10))

In [ ]:
import math
print(math.log10(100))

# Regular expression

In [28]:
import re
s = 'Today is sunday and tommorow is monday'
p = re.search('.*and.*',s)
if p:
    print('Found:',p.group())
else:
    print('Not Found...')

Found: Today is sunday and tommorow is monday

In [ ]:
#we can create group using regular expression
import re
s = 'today is sunday and tommorow is monday'
p = re.search('(.*)and(.*)',s)
if p:
    print('Found:',p.group())
    print('Group1:',p.group(1))
    print('Group2:',p.group(2))
else:
    print('Not Found...')

In [ ]:
#we can create group using regular expression
import re
s = 'today is sunday and tommorow is monday'
p = re.search('(.*)and (.*)',s)
if p:
    print('Found:',p.group())
    print('Group1:',p.group(1))
    print('Group1:',p.group(1).capitalize())
    print('Group2:',p.group(2))
    print('Group2:',p.group(2).capitalize())
else:
    print('Not Found...')

In [ ]:
#match function
import re
s = 'today is sunday and tommorow is monday'
p = re.match('today.*',s)
if p:
    print('Match:',p.group())
else:
    print('No Match...')

In [ ]:
#match function
import re
s = 'today is sunday and tommorow is monday'
p = re.match('today.*(and).*',s)
if p:
    print('Match:',p.group())
    print('Match:',p.group(1))
else:
    print('No Match...')

# Substituting digits and non-digits

In [3]:
#\d use to remove numbers
import re
s = 'this is 456446261'
p = re.sub('\d', '',s)
print(p)

this is

In [ ]:
#\D use to remove string
import re
s = 'this is 456446261'
p = re.sub('\D', '',s)
print(p)

In [ ]:
import re
s = 'abc@d.com'
#\w = word character
#\ = as esacpe charatcter
#. = any one character
#\. = dot character
# + = one or more character
p = re.search('\w+@\w\.com',s)
if p:
    print('Match found:',p.group())
else:
    print('No Match....')

In [ ]:
# Substituting and Replacing
import re
s = 'this is 116541616'
p = re.sub('\w+s' ,'$',s)
print(p)

# Tuples

In [ ]:
#its combination of numbers and string
a = (1,2,'apple','orange') # lenth
print(len(a))

In [ ]:
a = (1,2,'apple','orange')#accesing elements
print(a[0],a[1])

In [ ]:
a = (1,2,'apple','orange')# accesing multiple elements
print(a[0:3])

In [ ]:
a = (1,2,3,4,5) # min max 
print('Maximum No:',max(a))
print("Minimum No:",min(a))

In [ ]:
a = (1,2,3,4,5) # indexing
print(a.index(5))

In [4]:
a = (1,2,3,4,5,5,6,7,88,99,33,44,5,6,4,2,3,4,5,6,5,4) #counting
print(a.count(4))

4

In [ ]:
# Relation between tuple and list
#converting list into tuple
p = [1,2,3,4,5]
print('list:',p)
q = tuple(p)
print('tuple:',q)

In [ ]:
# converting tuple into list
p = (1,2,3,4,5)
print('tuple',p)
q = list(p)
print('list',q)

# Reverse opration on string

In [12]:
s = 'Data Science is trending these days' #Spliting 
print(s.split())

['Data', 'Science', 'is', 'trending', 'these', 'days']

In [13]:
a = 'Data Science is trending these days' #Reverse
print(a.split()[::-1])

['days', 'these', 'trending', 'is', 'Science', 'Data']

In [14]:
a = 'Data Science is trending these days' #combinig by join
print(' '.join(a.split()[::-1]))

days these trending is Science Data

# Passing parameters to function by name

In [ ]:
def record(name,id_no):
    print(name,id_no)
record(name='abc',id_no=101)

# Set oprations

In [ ]:
a = {1,2,3,4,5,6,7,7,4,5,67}   # unique and oreder numbers print by set
print(a)

In [ ]:
s1 = {'ab','cd','ef','cd'}   #Builtin function
s1 = set(s1)
print(s1)

# Set Relations

In [ ]:
s1 = {1,2,3,4,5,6,7}   #superset
s2 = {2,3}  #subset

print(s1 > s2)
print(s2 > s1)

In [ ]:
s1 = {1,2,3,4,5,6,7}   #superset
s2 = {2,3}  #subset

print(s1.issubset(s2)) #issubset
print(s2.issubset(s1))

In [ ]:
s1 = {1,2,3,4,5,6,7}   #superset
s2 = {2,3}  #subset

print(s1.issuperset(s2)) #issuperset
print(s2.issuperset(s1))

In [ ]:
# Union
s1 = {1,2,3,4,5,6,7,8,7,4,3}   #repeated values remove
s2 = {2,3,4,5}

print(s1.union(s2))
print(s2.union(s1))

In [ ]:
# Intersection
s1 = {1,2,3,4,5,6,7,8,7,4,3}    #common values will be printed
s2 = {2,3,4,5}

print(s1.intersection(s2))
print(s2.intersection(s1))

# Set Difference

In [ ]:
s1 = {1,2,3,4,5,6,10,11}   # remove common numbers
s2 = {2,3,4,5,7,8}

s3 = s1 - s2

s4 = s1.difference(s2)
print(s3,s4)

s5 = s2 - s1
s6 = s2.difference(s1)
print(s5,s6)

In [ ]:
# Genrating set using other data structur
s1 = [1,2,3,4,5,6]
s2 = set(s1)
print(s2)

In [ ]:
s1 = {'abc':101,'efg':102}    #Dictionary to set
s2 = set(s1)
print(s2)

In [ ]:
#Enumarate function
#An enumerate function keeps count of the number of iterations done.
a = [1,3,5,7]
for i,j in enumerate(a):   
    print(i,j)

In [ ]:
#List Comphrehension
A = [x for x in range(1, 21)]       #Automatically list will genrate
print(A)

In [ ]:
#printing list of odd numbers using list comprehension
#x % 2 gives the remainder after the integer division
#The % is called the modulo operator. Of course when the remainder is not 0, the number is odd.
B = [x for x in range(1, 11) if x % 2 != 0]
print(B)

In [ ]:
#printing list of even numbers using list comprehension
#x % 2 gives the remainder after the integer division
#The % is called the modulo operator. Of course when the remainder is 0, the number is even.
B = [x for x in range(1, 11) if x % 2 == 0]
print(B)

In [ ]:
#printing list of squares of even numbers using list comprehension
C = [x*x for x in range(1, 11) if x % 2 == 0]
print(C)

In [ ]:
#printing list of cube of even numbers using list comprehension
C = [x*x*x for x in range(1, 11) if x % 2 == 0]
print(C)

In [ ]:
#Set Comprehension
A = {x for x in range(1,11)}
print(A)

In [ ]:
#printing set of even no.
   #expression , range,     conditional
A = {x for x in range(1,6) if x % 2 == 0}
print(A)

In [ ]:
#Dictionary Comphrehension
A = {x : x for x in range(1, 6)}
print(A)

In [ ]:
#Dictionary Comphrehension
# values converted into even numbers
A = {x : x*2 for x in range(1, 6)}
print(A)

In [ ]:
#for keys     , odd numbers because 
A = {x*2 : x for x in range(1, 6)}
print(A)

In [ ]:
#for values
A = {x : x*x for x in range(1, 6)}
print(A)

In [ ]:
#Permutation of list comphrehension
#performing concatenation of string also
#here looping through same list of elements
A = ['a','b','c']
B = [(x+y) for x in A for y in A]
print(B)

In [ ]:
#another example
#Permutation of list comphrehension
A = ['a','b']
C = [1,2,3]
B = [(x,y) for x in A for y in C]
print(B)

In [ ]:
#Lambda function
#A lambda function is a small anonymous function which returns an object.
#The object returned by lambda is usually assigned to a variable or used as a part of other bigger functions.
#Instead of the conventional def keyword used for creating functions,
#a lambda function is defined by using the lambda
f = (lambda x : x * 2)
print(f(2))

In [ ]:
#multiple parameteres
f = (lambda x,y,z: x*y*z)
print(f(1,2,3))

In [ ]:
f = (lambda x,y : x > y)     #conditinal statements
print(f(2,3))

# Map

In [ ]:
#map() function returns a map object of the results after applying the given function 
#to each item of a given iterable (list, tuple etc.)
#syntax
#map(function, iterable)
#fun : It is a function to which map passes each element of given iterable.
#iter : It is a iterable which is to be mapped.

def sqr(x):
    return x*x

l = [1,2,3,4]

result = map(sqr,l)# sqr = function      # l = iterable
print(list(result))
          
print(list(map(lambda x : x*x,l)))

In [ ]:
# double numbers using map and lambda
integers = [2,4,6]
result = map(lambda x: x+x, integers)
print(result)
print(list(result))

In [ ]:
# adding two lists using map and lambda

l1 = [1,2,3]
l2 = [3,2,1]

result = map(lambda x,y: x+y ,l1,l2)
print(list(result))

In [ ]:
# maping list of string
# it listify the list of string individually

l = ['jan','feb','mar']
sep_string = list(map(list,l))
print(sep_string)

# Filter

 # The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [ ]:
#syntax
#filter(function,sequence)
#function: function that tests if each element of a sequence true or not.
#sequence: sequence which needs to be filtered, it can be sets, lists, tuples, or containers of any iterators.

#printing odd no with filter
l = [1,2,3,4,5,7,8]
p = filter(lambda x: x%2 != 0,l)
print(list(p))

In [ ]:
#printing even no with filter
l = [1,2,3,4,5,7,8]
p = filter(lambda x: x%2 == 0,l)
print(list(p))

In [ ]:
#another example

def is_odd(x):                #Without lambda function
    return x%2 != 0

l = [1,2,3,4,5,6,7,8]

print(list(filter(is_odd,l)))

# Reduce

In [ ]:
#reduce func is used to apply a particular function passed in its argument to all of the 
#list elements mentioned in the sequence passed along.
#This function is defined in “functools” module.
#reduce(function,sequence)
#not specifying list outside
#At first step, first two elements of sequence are picked and the result is obtained

from functools import reduce
p = (reduce(lambda x,y : x*y,[1,2,3,4]))
print(p)

In [ ]:
#another example
# printing sum
import functools

l1 = [1,3,4,5,2,1]

print('total of list elements:-', end='')
print(reduce(lambda x,y : x+y, l1))

In [ ]:
#printing maximum number
import functools

l1 = [1,3,4,5,2,100]

print('maximum number is:-', end='')
print(reduce(lambda x,y : x if x > y else y, l1))

In [ ]:
#reduce() using operator function

import functools

import operator

l1 = [1,3,4,5,2,2]

print('sum of list elements is:-', end='')
print(reduce(operator.add, l1))

print('product of list elements is:-', end='')  #product = multiplication
print(reduce(operator.mul, l1))

In [ ]:
# accumulate function
# addition of first two numbers then increasing manner

import itertools

l1 = [1,3,4,5,2,2]


print('accumulation of list elements is:-', end='')
print(list(itertools.accumulate(l1, lambda x,y: x+y)))

# global keyword

# Global keyword is a keyword that allows a user to modify a variable outside of the current scope. It is used to create global variables from a non-global scope i.e inside a function. Global keyword is used inside a function only when we want to do assignments or when we want to change a variable. Global is not needed for printing and accessing

In [ ]:
#global is a keyword
i = 10
def p():
    print(i)
    
def incre():         #without Global keyword
    i = 11
    print(i)
    
p()   
incre()
p()

In [1]:
#global is a keyword
i = 10
def p():
    print(i)
    
def incre():  #with Global keyword
    global i
    i = 11
    print(i)
    
p()   
incre()
p()

10
11
11

In [2]:
#another example
i = 10
def func():
    global i
    i = i + 10
    print(i)
func()

20

# None keyword

In [ ]:
#None is a keyword         #it assign to variable      #it used to define null variable
i = None
def func(l):
    if l is None:        #Checking if variable is none
        return 'No values assigned'
    l = l + 1
    return l

print(func(i))
print(func(10))

In [ ]:
#None is a keyword         #it assign to variable      #it used to define null variable
i = 10
def func(l):
    if l is None:        #Checking if variable is none
        return 'No values assigned'
    l = l + 1
    return l

print(func(i))
print(func(10))

# Is keyword

# This keyword is used to test object identity. The “is keyword” is used to test whether two variables belong to the same object. The test will return True if the two objects are the same else it will return False even if the two objects are 100% equal. Note: The == operator is used to test if two objects are the same

In [ ]:
a = ['a','b','c','d']
b = ['a','b','c','d']
print(a is b)
print(a == b)

In [ ]:
a = [1,2,3,4]
b = [1,2,3,4]
print(a is b)
print(a == b)

In [ ]:
# but if it is use with if-else like condition then it gives actual true output
a = 10
b = 10

if a is b:
    print(True)
else:
    print(False)

# Membership Oprator

In [ ]:
## Membership operators are operators used to validate the membership of a value. 
## It test for membership in a sequence, such as strings, lists, or tuples.

In [ ]:
# Finding common member in list
# without  using 'in' operator

def overlp(list1,list2):
 
    c=0
    d=0
    for i in list1:
        c+=1               # '+=' addition assignment operator
    for j in list2:
        d+=1
    for i in range(0,c):
        for j in range(0,d):
            if(list1[i]==list2[j]):
                return 1
    return 0

list1=[1,3,5,7,9]
list2=[6,7,8,9]

if(overlp(list1,list2)):
    print("overlaps")
else:
    print("Does not overlap")

In [ ]:
#In :-Returns True if a sequence with the specified value is present in the object 
#not in :-Returns True if a sequence with the specified value is not present in the object

# Finding common member in list
# using 'in' operator
list_1=[1,3,5,7,9]
list_2=[6,7,8,9]

for item in list_1:
    if item in list_2:
        print("overlapping")
    else:
        print("not overlapping")

In [5]:
# 'not in'  and 'in' operator  examples

A = 30
B = 25
list = [10, 20, 30, 40, 50]

if (A not in list):
    print("A is NOT present in given list")
else:
    print("A is present in given list")

if (B in list):
    print("B is present in given list")
else:
    print("B is NOT present in given list")

A is present in given list
B is NOT present in given list

In [6]:
a = [1,2,3,4,5]   # for list

print(4 in a)
print(7 not in a)

True
True

In [ ]:
b = {0:1, 2:3, 4:5}     #Dictionary store key:value in associative manner
print(2 in b)            # it only give result for keys.
print(3 not in b)

In [ ]:


pes')  # for tuple
print('banana' in c)
print('orange' in c)
print('kiwi' not in c)

# Nested function

In [ ]:
# A function which is defined inside another function is known as inner function or nested function. 
# Nested functions are able to access variables of the enclosing scope.

In [4]:
def outerFunction(text): 
    text = text 
    
    def innerFunction(): 
        print(text) 
    
    innerFunction('hello')    # does not show any output

In [ ]:
# It is important that outer function has to be called, so that the inner function can execute.

In [ ]:
def outerFunction(text): 
    text = text 
    
    def innerFunction(): 
        print(text) 
    
    innerFunction() 
outerFunction('welcome')

In [ ]:
# Another example of nested function

def f1():
    x = 10
    def f2():
        return x*x
    print('multiplication:-',f2())
f1()

# Non-local keyword

In [ ]:
#The nonlocal keyword is used to work with variables inside nested functions, 
#where the variable should not belong to the inner function.

#Use the keyword nonlocal to declare that the variable is not local.

In [ ]:
def a1():
    x = 10
    def a2():
        x = 1         
    a2()    
    print('x = ',x)    

a1()

In [ ]:
def a1():
    x = 10
    def a2():
        nonlocal x
        x = 1         
    a2()    
    print('x = ',x)    

a1()

# Pass statement

In [ ]:
# In Python, pass is a null statement. The interpreter does not ignore a pass statement, 
# but nothing happens and the statement results into no operation

#The pass statement is useful when you don’t write the implementation of a function 
#but you want to implement it in the future.

# to avoid compilation errors, you can use the pass statement.

In [3]:
def a1():
    pass
    #........
    a1()
def a2():
    #.......
    a2()

In [2]:
def multiplication(num1, num2):
  # Implementation will go here 
  pass # Pass statement

multiplication(2, 2)       # it will not show any output   because its null

In [ ]:
# This functions prints the number if its not 4
def display(number):
      if number is 4:
        pass # Pass statement
      else:
        print ("Number: ", number)
    
display(4)
display(7)

# Raw input

In [ ]:
a = input('Enter Username :- ')   #python2 =  raw input          #python3 = input
print('Hello...',a,' Enter your password and we good to go...!')
b = input('Enter password :- ')
print('Alright...Lets do some coding...!')

# Defining class, constructor, class and instance variable

# Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state.

In [2]:
class HelloWorld:
    name = 'learner'      # class variable
    
hw = HelloWorld()

print(HelloWorld.name)       #  calling with class name Helloworld
print(hw.name)         # calling with object hw

learner
learner

# Constructors are generally used for instantiating an object.The task of constructors is to initialize(assign values) to the data members of the class when an object of class is created.In Python the __init__() method is called the constructor and is always called when an object is created.

In [3]:
# default constructor example

class HelloWorld:
    name = 'learner'      # class variable
    
    def __init__(self,i):         # Defining constructor and instance variable
        self.i = i
        
    def printer(self): 
        print(self.i,self.name)
    
        
hw = HelloWorld(10)
hw1 = HelloWorld(20)

hw.printer()
hw1.printer()

10 learner
20 learner

In [4]:
# parameterized constructor example
class Substraction:
    first = 0
    second = 0
    answer = 0
      
    def __init__(self, f, s):
        self.first = f
        self.second = s
      
    def display(self):
        print("First number = " + str(self.first))
        print("Second number = " + str(self.second))
        print("Substraction of two numbers = " + str(self.answer))
  
    def calculate(self):
        self.answer = self.first - self.second
        
obj = Substraction(100, 10)
  
obj.calculate()
  
obj.display()

First number = 100
Second number = 10
Substraction of two numbers = 90

# Inheritance is the capability of one class to derive or inherit the properties from another class.

In [8]:
# Inheritance
class Person():

    def __init__(self, name):
        self.name = name

# To get name
    def getName(self):
        return self.name

# To check if this person is an employee
    def isEmployee(self):
        return False


# Inherited or Subclass (Note Person in bracket)
class Employee(Person):

# Here we return true
    def isEmployee(self):
        return True

# Driver code
emp = Person("riya") 
print(emp.getName(), emp.isEmployee())

emp = Employee("yuktika")
print(emp.getName(), emp.isEmployee())

riya False
yuktika True

# The __str__ method in Python represents the class objects as a string – it can be used for classes. The __str__ method should be defined in a way that is easy to read and outputs all the members of the class. This method is also used as a debugging tool when the members of a class need to be checked.

#  __repr__ is a special method used to represent a class’s objects as a string. __repr__ is called by the repr() built-in function. You can define your own string representation of your class objects using the __repr__ method.

In [ ]:
class A:
    def __init__(self):
        self.val = 10
        
    def __str__(self):                #Used for friendly readability
        return 'class A'
    
    def __repr__(self):               #Used for representing the object so that it can be reconstructed later
        return 'class A: self.val'
    
    
a = A()
print(a)

print(repr(a))

In [ ]:
class A:
    def __init__(self):
        self.val = 10
        
    def __str__(self):
        return 'class A'
    
    __repr__ = __str__
    
    
a = A()
print(a)

print(repr(a))

# Encapsulation

# Encapsulation is one of the fundamental concepts in object-oriented programming (OOP). It describes the idea of wrapping data and the methods that work on data within one unit. This puts restrictions on accessing variables and methods directly and can prevent the accidental modification of data.

In [6]:
class speed:
    def __init__(self):
        self.speed = 10    #Public member
        self.__speed_limit = 20   #private member
        
    def get_speed(self):
        return self.speed
    
    def get_speed_limit(self):
        return self.__speed_limit
    
s = speed()
s.speed = 100
s.__speed_limit = 50

print(s.get_speed(), s.get_speed_limit())

100 20

In [ ]:
#Changing speed limit and private member

class speed:
    def __init__(self):
        self.speed = 10    #Public member
        self.__speed_limit = 20   #private member
        
    def get_speed(self):
        return self.speed
    
    def get_speed_limit(self):
        return self.__speed_limit
    
    def set_speed_limit(self, new_speed_limit):
        self.__speed_limit = new_speed_limit
    
s = speed()
s.speed = 100
s.__speed_limit = 50
s.set_speed_limit(150)

print(s.get_speed(), s.get_speed_limit())

In [17]:
a = yogi
print("\"  "\")

SyntaxError: unexpected character after line continuation character (Temp/ipykernel_17796/1923893048.py, line 2)

# Operator Overloading
# Operator Overloading means giving extended meaning beyond their predefined operational meaning. For example operator + is used to add two integers as well as join two strings and merge two lists. It is achievable because ‘+’ operator is overloaded by int class and str class.

In [7]:
#Examples of overloading

print(2 + 2)

# concatenate two strings
print("Data"+"Science")

# Product two numbers
print(2 * 4)

# Repeat the String
print("AIisFutuer "*4)

4
DataScience
8
AIisFutuer AIisFutuer AIisFutuer AIisFutuer

# Python provides some special function or magic function that is automatically invoked when it is associated with that particular operator. For example, when we use + operator, the magic method __add__ is automatically invoked in which the operation for + operator is defined.

In [8]:
# to overload an binary + operator

class X:
    def __init__(self, a):
        self.a = a

# adding two objects
    def __add__(self, b):
        return self.a + b.a
ob1 = X(6)
ob2 = X(4)
ob3 = X("Data")
ob4 = X("Science")

print(ob1 + ob2)
print(ob3 + ob4)

10
DataScience

In [ ]:
# Addition of two complex numbers overloading

class Complex:
    def __init__(self, a, b):
        self.a = a
        self.b = b

# adding two objects
    def __add__(self, other):
        return self.a + other.a, self.b + other.b

Ob1 = Complex(6, 4)
Ob2 = Complex(1, 5)
Ob3 = Ob1 + Ob2
print(Ob3)

In [ ]:
# a comparison operators overloading

class Z:
    def __init__(self, a):
        self.a = a
    def __gt__(self, other):
        if(self.a>other.a):
            return True
        else:
            return False
ob1 = Z(4)
ob2 = Z(6)
if(ob1>ob2):
    print("ob1 is greater than ob2")
else:
    print("ob2 is greater than ob1")

In [ ]:
# equality and less than operator overloading

class Y:
    def __init__(self, a):
        self.a = a
    def __lt__(self, other):
        if(self.a<other.a):
            return "ob1 is < ob2"
        else:
            return "ob2 is < ob1"
    def __eq__(self, other):
        if(self.a == other.a):
            return "Both are equal"
        else:
            return "Not equal"

ob1 = Y(2)
ob2 = Y(3)
print(ob1 < ob2)

ob3 = Y(4)
ob4 = Y(4)
print(ob3 == ob4)

# Binary Operators:-

# Operator Magic Method

#  +__add__(self, other)
#  – __sub__(self, other)
#  * __mul__(self, other)
#  / __truediv__(self, other)
#  // __floordiv__(self, other)
#  % __mod__(self, other)
#  ** __pow__(self, other)
#  >> __rshift__(self, other)
#  << __lshift__(self, other)
#  & __and__(self, other)
#  | __or__(self, other)
#  ^ __xor__(self, other)

# Comparison Operators :

# Operator Magic Method

# < __LT__(SELF, OTHER)
# > __GT__(SELF, OTHER)
# <= __LE__(SELF, OTHER)
# >= __GE__(SELF, OTHER)
# == __EQ__(SELF, OTHER)
# != __NE__(SELF, OTHER)

# Writing to file

In [ ]:
f = open('a1.txt','w')     # W is for Write

f.write('Welcome to SparrowAI...\n')
f.write('Data Science is trending these days...\n')
f.write('AI is future...\n\n')

f.write('hello Coders...\nthis session is going to be fun...\nIm glad that you learning python with me')

f.close()

# Reading to file

In [ ]:
f = open('a1.txt','r')     # r is for Read

for l in f:
    print(l,end='')

# OS module, this module provides a portable way of using operating system dependent functionality.

In [ ]:
import os

cwd = os.getcwd()

print('Current Working Directory:-',cwd)

In [ ]:
import os

d = os.getcwd()

fname = os.path.join(d, 'a1.txt')    #Join two or more pathname components

print(fname)

f = open(fname, 'r')

for l in f:
    print(l,end='')